/* For our own custom styles */

/* //////////////////// */
/*       TOOLBAR        */
/* //////////////////// */

#navbar-style { height: 6%; }
#navbar { width: 95%; }
#quote { padding-top: 1%; margin-bottom: .5%; }

/* //////////////////// */
/*     Sponsorship      */
/* //////////////////// */

.sponsor { width: 400px; height: 400px; }
.sponsor-tier { margin:auto; }
.photo { margin-left: 5%; }
.outline {text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
.sponsor_msg .text-custom{ width:66%; margin: auto; text-align: center; font-size: 1.2em;
                           color: white; padding:2%;}
.opaque-bg {background-size: cover; background-image: url("../images/sponsors/background.jpg");}

.sponsor_msg {padding: 1% 3% 3% 3%;}
.sponsor_msg h2 {margin-top: 0; color: white; text-align: center;}
.sponsor_msg h4 {margin-top: 0; color: white; text-align: center;}
.sponsor_align {padding: 0; text-align: center;}
.sponsor_block { display: inline-block; margin: auto; padding: 0% 1% 1% 1%;}

#gold_sponsors { background-image: url("../images/sponsors/goldbg.jpg"); background-size: cover;}
#silver_sponsors { background-image: url("../images/sponsors/bwbackground.jpg"); background-size: cover;}
#bronze_sponsors { background-image: url("../images/sponsors/bronzebg.jpg"); background-size: cover; height: 50%;}







